/* 画像を動的に表示できるコード↓ */

/* @keyframes backgroundImageAnimation { */
/*   0% { background-image: url('/kikin-for-Struts-bug/pages/img/fireworks_00005.jpg'); } */
/*   33% { background-image: url('/kikin-for-Struts-bug/pages/img/Nagaoka_Fireworks_04.jpg'); } */
/*   66% { background-image: url('/kikin-for-Struts-bug/pages/img/sddefault.jpg'); } */
/*   100% { background-image: url('/kikin-for-Struts-bug/pages/img/fireworks_00005.jpg'); } */
/* } */
/* body { */
/*   animation: backgroundImageAnimation 15s infinite; 15秒で1周、無限ループ */
/*   background-size: cover; 背景画像が全体に広がるようにする */
/*   background-position: center; 背景画像を中央に配置 */
/*   background-repeat: no-repeat; 背景画像の繰り返しを無効にする */
/* } */

/*
* body定義
*/
body {
    background-color: #70D6A7;
    /*
    overflowをscrollに変更する
    */
    overflow: scroll;
    width:100%;
}
errorbody {
    background-color: red;
}
#wrapper {
	
    width:100%;
    height:100%;
    padding:0px;
}


/*
* ヘッダー、フッター共通定義
*/
#header,#businessBody,#footer {
    width: 100%;
    padding: 5px;
    margin: 0;
    
}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 50px;
}
#headLeft {
	
    width:15%;
    text-align:center;
}
#headCenter {
	
    font-size: 36px;
    color: #4f3b00;
    width:70%;
    text-align:center;
    padding: 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;

}
#headRight {
    width:15%;
    text-align:center;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
	/*
	margin-left:60px;
    float:left;
    text-align:center;
    padding:30px;
    */
	display: inline;
    
}

.menulist{
	display: inline;
	
}

/*
* 業務body定義

#businessBody {
    height: 82%;
    overflow: auto;
}
*/
/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 10px;
    width: 100%;
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
    height: 30px;
}
#footCenter {
    width:100%;
    text-align:center;
    height: 30px;
}
#footRight {
    float:right;
    width:400px;
    text-align:right;
    height: 30px;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorBusinessBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorBusinessBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

#resize{
	 transform: scale(0.95);
	 text-align: -webkit-center;
}

#left{
	margin-left:130px;
}

/*
* ボタンサイズ通常
*/
.smallButton {
    width: 100px;
    height: 30px;
}

/*
* ボタンサイズ大
*/
.bigButton {
    width: 200px;
    height: 50px;
}

/*
* ボタンサイズロング
*/
.longButton {
    width: 200px;
    height: 30px;
}


/*
* 戻るボタンのスタイル
*/
.backButton {
    top: 5px;
    left: 10px;
}

/*
* テーブルヘッダーのスタイル
*/
.tableHeader {
    background-color: #98FB98;
    font-weight: bold;
    border: 1px solid black;
    border-collapse: collapse;
}
.tableHeader td, .tableHeader th {
        padding: 0;
        border: 1px solid black;
}

/*
* テーブルボディのスタイル
*/
.tableBody {
    background-color: #E1FBE1;
    border: 1px solid #FF0000;
    border-collapse: collapse;
}
.tableBody td, .tableBody th {
        padding: 0;
        border: 1px solid #8080C0;
}
.full-width {
	
        width: 100%;
        
}
.nomalTable{
	border: 0px solid black;
    border-collapse: collapse;
}
.nomalTable td, .nomalTable th {
        padding: 0;
        border: 0px solid black;
}

.widthTable{
	width: 1500px;
    border-collapse: collapse;
}
.widthTable td, .widthTable th {
        padding: 0;
}

.widthTable-S{
	width: 950px;
    border-collapse: collapse;
}
.widthTable-S td, .widthTable-S th {
        padding: 0;
}

.non-border {
	border: none !important;
}

.centered-container {
    width: 80%; 
    margin: 0 auto;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: black;
}

/*
* 文字色 青
*/
.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}

/* 勤退 */
.realtime{
	padding:0px;
	text-align:center;
	font-size: 40px;
	color: #4f3b00;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 500;
}

.Kbotan{
	
	text-align:center;
}


/* 一般社員　勤退ボタンデザイン　出勤 */
.s2btn {
  display: block;
  height: 68px;
  line-height: 68px;
  font-size: 24px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 10px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  font-family: "M PLUS Rounded 1c", sans-serif;
 
}

/* 一般社員　勤退ボタンデザイン　退勤 */
.t2btn {
  
  display: block;
  height: 68px;
  line-height: 68px;
  font-size: 24px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 10px 0 #a81f0f;
  border-radius: 50px;
  text-align: center;
  width: 200px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
/* 一般社員　勤退ボタンホバー */
.s2btn:hover {
  margin-top: 0;
  box-shadow: 0 5px 0 #a81f0f;
}
.t2btn:hover {
  margin-top: 0;
  box-shadow: 0 5px 0 #a81f0f;
  
}
.t2div:hover{
	width:100%;
	margin-top: -260px;
	
}

/* 一般社員　勤退ボタン画面レイアウト設定 */
.K2botan{
	 width:auto;
	 display: inline-flex;
  	
}
/* 管理者、一般の名前のデザイン設定 */
.kname{
	padding:76px 40px 0px;
	color: #4f3b00;
	text-align: center;
	font-size: 30px;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 500;
}

/* メニューボタンデザイン */
.mbotan{
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 50px;
  text-align: center;
  width: 200px;
}

/* 管理者にしかないボタンのブロック */
.kanriBlock{
	float:right;
	
}

/* ログアウトボタンと戻るボタンのデザイン */
.mOUTbotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #ffffee;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  box-shadow: 0 2px 0 #757266;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  transition: .1s;
}
.mOUTbotan:hover {
  margin-top: 0;
  background-color: #f15a4a;
  box-shadow: 0 0 0 #757266;
  color: #fff;
}
.ModoruBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #d7f187;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  margin-left:120px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;
}
.ModoruBotan:hover {
  margin-top: 0;
  background-color: #ffffee;
  box-shadow: 0 0 0 #a81f0f;
  color: #400040;
}

/*登録ボタンと印刷ボタンのデザイン */
.TourokuPrintBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #ffffee;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  margin-left:89px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;  
}
.TourokuPrintBotan:hover {
  margin-top: 0;
  background-color: #f15a4a;
  box-shadow: 0 0 0 #a81f0f;
  color: #fff;
}

/*凡例表示ボタンのデザイン */
.HanreiBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #d7f187;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  margin-left:230px;
  box-shadow: 0 2px 0 #757266;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.HanreiBotan:hover {
  margin-top: 0;
  box-shadow: 0 0 0 #757266;
}
/* 新規登録ボタンのデザイン */
.SinkiBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #d7f187;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  margin-left:170px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;
}
.SinkiBotan:hover {
  margin-top: 0;
  box-shadow: 0 0px 0 #a81f0f;
}

/* 更新ボタンのデザイン */
.KousinBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #d7f187;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  margin-right:120px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;
}
.KousinBotan:hover {
  margin-top: 0;
  box-shadow: 0 0px 0 #a81f0f;
}
/* 基本シフト、出勤希望ボタンのデザイン */
.HanneiBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #d7f187;
  color: #400040;
  cursor: pointer;
  margin-top: -2px;
  margin-left:20px;
  box-shadow: 0 2px 0 #757266;
  border-radius: 5px;
  text-align: center;
  width: 160px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;
}
.HanneiBotan:hover {
  margin-top: 0;
  box-shadow: 0 0px 0 #a81f0f;
}
/* 会社名デザイン関連 */
.rogo{
	font-family: "Kaisei HarunoUmi", serif;
	font-size: 30px;
	margin-top:20px;
	margin-left: 40px;
}
/* メニュー画面レイアウト用 */
#headCenter2 {
	
    font-size: 36px;
    color: #4f3b00;
    width:70%;
    text-align:center;
    padding: 1px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;

}


/* ログインボタンデザイン */
.Logbotan{
  position: absolute;
  top: 45%;
  left: 46.3%;
  transform: translate(-50%, -50%);
}

.Log2 {
  display: block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 5px;
}

.Log2:hover {
  background-color: #fff;
  border: 2px solid #f15a4a;
  color: #f15a4a;
}

/*リセットボタンデザインん*/

.Resetbotan{
  position: absolute;
  top: 45%;
  left: 55.5%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.Re2 {
  position: relative;
  display: block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(-180deg);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 02.4s ease-out;
}

.Re2:hover {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(360deg);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 00.1s ease-out;
  transition: transform 00.1s ease-out, -webkit-transform 00.4s ease-out;
}

.Re2:hover:after {
  content: "Hover";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

/* 右側の追従バナーエリア */
#flyin {
    z-index: 100;
    border-radius: 10px 0 0;
    -moz-border-radius: 10px 0 0;
    -webkit-border-radius: 10px 0 0;
    width: 360px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation: flipInY 1s cubic-bezier(0.77, 0, .175, 1);
    -moz-animation: flipInY 1s cubic-bezier(0.77, 0, .175, 1);
    -o-animation: flipInY 1s cubic-bezier(0.77, 0, .175, 1);
    animation: flipInY 1s cubic-bezier(0.77, 0, .175, 1);
    -webkit-transition: bottom .5s ease, background-position .5s ease;
    transition: bottom .5s ease, background-position .5s ease;
    padding: 0;
    filter: drop-shadow(0px 0px 7px #aaa);
    transition: 0.3s ease-in-out;
}

#flyin .flyin-man {
    position: absolute;
    right: 5%;
    top: 110px;
    z-index: 3;
    width: 82px;
    height: 130px;
    display: block;
    background-image: url(//cdn.elegantthemes.com/images/flyin-man.png);
    -webkit-animation: float 3s infinite;
    -moz-animation: float 3s infinite;
    -o-animation: float 3s infinite;
    animation: float 3s infinite;
    -webkit-transition: top 1s ease, opacity 1s ease;
    transition: top 1s ease, opacity 1s ease;
}

#flyin #flying_subscribe {
    -webkit-transition: opacity .5s ease, background-color .5s ease;
    transition: opacity .5s ease, background-color .5s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: 'Goudy Bookletter 1911', arial, sans-serif;
    background: #55a753;
    text-align: center;
    cursor: pointer;
    padding: 11px 0 10px;
}

#flyin #flying_subscribe:hover,
#flyin .flyinbutton:hover {
    background-color: #408c3f;
}

#flyin #exit_emailinput {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 220px;
    background: #f8fafa;
    border: 1px solid #e4e9e9;
    color: #b3b3b3;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 11px 20px;
}

#flyin .flyinclose {
    -webkit-transition: 0 .5s ease .2s, opacity .5s ease, top .5s ease .2s;
    transition: transform .5s ease .2s, opacity .5s ease, top .5s ease .2s;
    content: '';
    display: block;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #fff url(//cdn.elegantthemes.com/img/exitpopup-x.png) no-repeat center center;
    position: absolute;
    top: -10px;
    left: -5px;
    margin: 0;
    padding: 0;
}

#flyin .flyinbutton {
    -webkit-transition: top .5s ease, opacity .5s ease, background-color .5s ease;
    transition: top .5s ease, opacity .5s ease, background-color .5s ease;
    width: 300px;
    height: 20px;
    top: 400px;
    opacity: 0;
    position: absolute;
    left: 10px;
    z-index: 5;
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Goudy Bookletter 1911', arial, sans-serif;
    background: #55a753;
    text-align: center;
    cursor: pointer;
    padding: 11px 0 10px;
}

.hide {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.hide div {
    top: 60% !important;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
}
footer{
	width: 100%;
	text-align: center;
	background-color: #88dfec;
}

/*シフトマスタメンテだけのレイアウトのための*/
.TourokuPrintBotan2{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #ffffee;
  color: #400040;
  cursor: pointer;
  margin-top: 0px;
  margin-left:220px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;  
}
.TourokuPrintBotan2:hover {
  margin-top: 2px;
  background-color: #f15a4a;
  box-shadow: 0 0 0 #a81f0f;
  color: #fff;
}

.KousinBotan2{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: #d7f187;
  color: #400040;
  cursor: pointer;
  margin-top: 0px;
  margin-right:120px;
  box-shadow: 0 2px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: .1s;
}
.KousinBotan2:hover {
  margin-top: 2px;
  box-shadow: 0 0px 0 #a81f0f;
}