/* 画像を動的に表示できるコード↓ */

/* @keyframes backgroundImageAnimation { */
/*   0% { background-image: url('/kikin-for-Struts-bug/pages/img/fireworks_00005.jpg'); } */
/*   33% { background-image: url('/kikin-for-Struts-bug/pages/img/Nagaoka_Fireworks_04.jpg'); } */
/*   66% { background-image: url('/kikin-for-Struts-bug/pages/img/sddefault.jpg'); } */
/*   100% { background-image: url('/kikin-for-Struts-bug/pages/img/fireworks_00005.jpg'); } */
/* } */
/* body { */
/*   animation: backgroundImageAnimation 15s infinite; 15秒で1周、無限ループ */
/*   background-size: cover; 背景画像が全体に広がるようにする */
/*   background-position: center; 背景画像を中央に配置 */
/*   background-repeat: no-repeat; 背景画像の繰り返しを無効にする */
/* } */

/*
* body定義
*/
body {
    background-color: #70D6A7;
    /*
    overflowをscrollに変更する
    */
    overflow: scroll;
    width:100%;
}
errorbody {
    background-color: red;
}
#wrapper {
	
    width:100%;
    height:100%;
    padding:0px;
}


/*
* ヘッダー、フッター共通定義
*/
#header,#businessBody,#footer {
    width: 100%;
    padding: 5px;
    margin: 0;
    
}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 50px;
}
#headLeft {
	
    width:15%;
    text-align:center;
}
#headCenter {
	
    font-size: 36px;
    color: #4f3b00;
    width:70%;
    text-align:center;
    padding: 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;

}
#headRight {
    width:15%;
    text-align:center;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
	/*
	margin-left:60px;
    float:left;
    text-align:center;
    padding:30px;
    */
	display: inline;
    
}

.menulist{
	display: inline;
	
}

/*
* 業務body定義

#businessBody {
    height: 82%;
    overflow: auto;
}
*/
/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 10px;
    width: 100%;
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    width:100%;
    text-align:center;
}
#footRight {
    float:right;
    width:400px;
    text-align:right;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorBusinessBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorBusinessBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

#resize{
	 transform: scale(0.95);
	 text-align: -webkit-center;
}

#left{
	margin-left:130px;
}

/*
* ボタンサイズ通常
*/
.smallButton {
    width: 100px;
    height: 30px;
}

/*
* ボタンサイズ大
*/
.bigButton {
    width: 200px;
    height: 50px;
}

/*
* ボタンサイズロング
*/
.longButton {
    width: 200px;
    height: 30px;
}


/*
* 戻るボタンのスタイル
*/
.backButton {
    top: 5px;
    left: 10px;
}

/*
* テーブルヘッダーのスタイル
*/
.tableHeader {
    background-color: #98FB98;
    font-weight: bold;
    border: 1px solid black;
    border-collapse: collapse;
}
.tableHeader td, .tableHeader th {
        padding: 0;
        border: 1px solid black;
}

/*
* テーブルボディのスタイル
*/
.tableBody {
    background-color: #E1FBE1;
    border: 1px solid #FF0000;
    border-collapse: collapse;
}
.tableBody td, .tableBody th {
        padding: 0;
        border: 1px solid #8080C0;
}
.full-width {
	
        width: 100%;
        
}
.nomalTable{
	border: 0px solid black;
    border-collapse: collapse;
}
.nomalTable td, .nomalTable th {
        padding: 0;
        border: 0px solid black;
}

.widthTable{
	width: 1500px;
    border-collapse: collapse;
}
.widthTable td, .widthTable th {
        padding: 0;
}

.widthTable-S{
	width: 950px;
    border-collapse: collapse;
}
.widthTable-S td, .widthTable-S th {
        padding: 0;
}

.non-border {
	border: none !important;
}

.centered-container {
    width: 80%; 
    margin: 0 auto;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: black;
}

/*
* 文字色 青
*/
.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}

/* 勤退 */
.realtime{
	
	text-align:center;
	font-size: 30px;
	color: #4f3b00;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 500;
}

.Kbotan{
	
	text-align:center;
}


/* 一般社員　勤退ボタンデザイン　出勤 */
.s2btn {
  display: block;
  height: 63px;
  line-height: 63px;
  font-size: 24px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 10px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  font-family: "M PLUS Rounded 1c", sans-serif;
 
}

/* 一般社員　勤退ボタンデザイン　退勤 */
.t2btn {
  
  display: block;
  height: 63px;
  line-height: 63px;
  font-size: 24px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 10px 0 #a81f0f;
  border-radius: 50px;
  text-align: center;
  width: 200px;
  font-family: "M PLUS Rounded 1c", sans-serif;
 
}
/* 一般社員　勤退ボタンホバー */
.s2btn:hover {
  margin-top: 0;
  box-shadow: 0 5px 0 #a81f0f;
}
.t2btn:hover {
  margin-top: 0;
  box-shadow: 0 5px 0 #a81f0f;
}

/* 一般社員　勤退ボタン画面レイアウト設定 */
.K2botan{
	 width:auto;
	 display: inline-flex;
  	
}
/* 管理者、一般の名前のデザイン設定 */
.kname{
	padding:75px 40px 1px;
	color: #4f3b00;
	text-align: center;
	font-size: 30px;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 500;
}

/* メニューボタンデザイン */
.mbotan{
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 50px;
  text-align: center;
  width: 200px;
}

/* 管理者にしかないボタンのブロック */
.kanriBlock{
	float:right;
	
}

/* ログアウトボタンと戻るボタンのデザイン */
.mOUTbotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #f15a4a;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
.ModoruBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  margin-left:120px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  
}

/*登録ボタンと印刷ボタンのデザイン */
.TourokuPrintBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  margin-left:120px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  
}

/*凡例表示ボタンのデザイン */
.HanreiBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  margin-left:120px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  
}

/* 新規登録ボタンのデザイン */
.SinkiBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  margin-left:120px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  
}

/* 更新ボタンのデザイン */
.KousinBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  margin-left:120px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  
}

/* 基本シフト、出勤希望ボタンのデザイン */
.HanneiBotan{
  display: block;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: #d6a51b;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  margin-left:120px;
  box-shadow: 0 5px 0 #a81f0f;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  
}
.rogo{
	font-family: "Kaisei HarunoUmi", serif;
	font-size: 30px;
	margin-top:20px;
	margin-left: 40px;
}
#headCenter2 {
	
    font-size: 36px;
    color: #4f3b00;
    width:70%;
    text-align:center;
    padding: 1px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;

}